body{
    background-color: #ffe600be;
}

img{
    width: 20%;
}

figure{
    text-align: center;
}

            .container{
                width:80%;
                margin:auto;
            }
            
h1,h2{ 
    text-align: center;
    font-family: 'Bungee', cursive;
}
p{
    font-family: 'Sigmar One', cursive;
}

.video{
    text-align: center;
    width: 50%;
    float: left;
}
footer{
    clear: both;
}